/* Pink (Common styles) */
:root {
    --principal: #170e25;
    --texto_primario: #FFFFFF;
    --texto_secundario: #B8B2C0;
    --fondo: #000000;
    --fondo_seccion: #101010;
    --fondo_componente: #252525;
}

body {
    color: var(--texto_primario);
    background-color: var(--fondo);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 10px;
}

#root {
    display: grid;
    grid-template:
    "h h h"
    "p m s";
    grid-template-rows: auto auto;
    grid-template-columns: auto minmax(auto, 38rem) auto;
    column-gap: 1.25rem;
    row-gap: 1.25rem;
}

.NavBar {
    grid-area: h ;
}

.MainSection {
    grid-area: m;
    justify-self: center;

    display: grid;
    justify-content: center;
}

.SocialBar {
    grid-area: s;
    justify-self: start;
}

.ProjectBar {
    grid-area: p;
    justify-self: end;
}